# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Flutter/Dart specific
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_export_environment.sh
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/Runner/GoogleService-Info.plist
**/macos/Flutter/Flutter.podspec
**/macos/Flutter/Flutter.framework
**/macos/Flutter/Generated.xcconfig
**/macos/Flutter/app.zip
**/macos/Flutter/flutter_export_environment.sh
**/macos/Runner/GeneratedPluginRegistrant.*
**/macos/Runner/Info.plist
**/macos/Runner/Runner.xcodeproj/
**/macos/Runner/Runner.xcworkspace/
**/web/assets/AssetManifest.json
**/web/assets/FontManifest.json
**/web/assets/packages/cupertino_icons/assets/CupertinoIcons.ttf
**/web/flutter_service_worker.js
**/web/icons/Icon-192.png
**/web/icons/Icon-512.png
**/web/manifest.json
**/web/favicon.png
**/build/
**/ios/Pods/
**/macos/Pods/
**/android/.gradle/
**/android/app/build/
**/android/gradle/
**/android/gradlew
**/android/local.properties
**/ios/.symlinks/
**/.dart_tool/
**/.idea/
**/*.iml
**/ios/Flutter/Flutter-Generated.xcconfig
.vscode/
*.android.*
*.ios.*
*.lock
**/android/app/src/main/AndroidManifest.xml
**/android/app/src/main/kotlin/takurouyamamoto/com/spend_timer/MainActivity.kt
**/android/build.gradle
**/android/app/build.gradle
**/android/app/src/main/res/values-night/styles.xml
**/android/app/src/main/res/values/styles.xml